@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Category
<form method="post">
    <div class="card border-info mb-3 mt-4" style="max-width: stretch 200px;">
        <div class="cart-body text-info">
            <div class="row pb-3 pt-4 p">
                <h2 class="card-title text-center text-danger "> Delete Category</h2>
            </div>
            <div class="mb-4 p-3">
                <label class="card-text">Name</label>
                <input asp-for=Name class="input-group-text" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-4 p-3">
                <label class="card-text">Display Order</label>
                <input asp-for=DisplayOrder class="input-group-text" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="row mb-4 pb-3 p-3">
                <div class="mb-4 col-6 text-start">
                <button class="btn btn-primary text-bg-dark bg-danger"> Delete Category </button>

                </div>
                <div class="mb-4 col-6 text-end">
                    <button asp-controller="Category" asp-action="Index" class="btn btn-primary text-bg-dark bg-info"><i class="bi bi-backspace-fill hvr-icon"></i> Back To List </button>
                </div>
            </div>
        </div>
    </div>
</form>

@*@section Scripts{

        <partial name="_ValidationScriptsPartial"/>

}*@