@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Category>
<div class="container">
    <div class=" row pt-4 pb-4 justify-content-md-around">
        <div class="col-6">
            <h2> Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="CreateCategory" class="link-primary text-primary">
                <i class="bi bi-bag-plus h6 text-primary">
                   
                </i>
                Add Category
            </a>
        </div>
    </div>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Category Name
        </th>
        <th>
            Display Order
        </th>
        <th></th>
        <th></th>
       
    </tr>
    </table>
        <table id="categoryTable"></table>
</div>

@section Scripts {
    <script src="~/js/category.js"></script>
}
