<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body" style="text-align:center; font-size:40px">Books sold</div>
            <div class="card-body justify-content-betweenaccept-policy" style="text-align:center; font-size: 28px; margin-bottom:25px;">
            450
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body" style="text-align:center; font-size:40px">Customers</div>
            <div class="card-body justify-content-betweenaccept-policy" style="text-align:center; font-size: 28px; margin-bottom:25px;">
                300
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-secondary text-white mb-4">
            <div class="card-body" style="text-align:center; font-size:40px">Bulk Orders</div>
            <div class="card-body justify-content-betweenaccept-policy" style="text-align:center; font-size: 28px; margin-bottom:25px;">
                180
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body" style="text-align:center; font-size:40px">Authors</div>
            <div class="card-body justify-content-betweenaccept-policy" style="text-align:center; font-size: 28px; margin-bottom:25px;">
                240
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card mb-6">
            <div class="card-header">
             Customer Growth
            </div>
            <div>
            <canvas id="barChart"></canvas>
            </div>
        </div>
        </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
            Sales Chart
            </div>
            <div>
                <canvas id="lineChart"></canvas>
            </div>
           
        </div>
    </div>
</div>
<div class="row">
<div class="col-xl-6">
    <div class="card mb-4">
        <div class="card-header">
           Author publications
        </div>
        <div>
            <canvas id="pieChart"></canvas>
        </div>
    </div>
</div>
<div class="col-xl-6">
    <div class="card mb-4">
        <div class="card-header">
            Company Orders
        </div>
        <div>
            <canvas id="polarChart"></canvas>
        </div>
    </div>
</div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('barChart');
        const ctx1 = document.getElementById('lineChart');
        const ctx2 = document.getElementById('pieChart');
        const ctx3 = document.getElementById('polarChart');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: 'Number of Customers in each month',
                    data: [100, 190, 320, 285, 325, 400, 350, 420, 450, 430, 440, 415],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        new Chart(ctx1, {
            type: 'line',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: 'Number of books sold per month',
                    data: [120, 190, 233, 195, 152, 243, 300, 250, 240, 220.250, 280],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        new Chart(ctx2, {
            type: 'doughnut',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: 'Number of authors published per month',
                    data: [120, 190, 233, 195, 152, 243, 300, 250, 240, 220.250, 280],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        new Chart(ctx3, {
            type: 'polarArea',
            data: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
                datasets: [{
                    label: 'Number of bulk orders recieved per month',
                    data: [120, 190, 233, 195, 152, 243, 300, 250, 240, 220.250, 280],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
}
